<div fxLayout='row wrap' class="col-gap">
    <ng-container>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="testimonial-item">
                <mat-card class="testimonial-card">
                    <mat-card-content>
                        <p class="user-text">
                            I love the way it has delivered to me and after using ,i just wanna say one word that is awesome
                        </p>
                    </mat-card-content>
                </mat-card>
                <div class="user-content" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div class="user-thumb">
                        <img src="http://localhost:4200/assets/images/david.jpg" alt="user image" height="200" width="200">
                    </div>
                    <div class="user-info">
                        <h6 class="mb-0">David Tamayo</h6>
                        <p class="text-md text-muted">Fundador</p>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="testimonial-item">
                <mat-card class="testimonial-card">
                    <mat-card-content>
                        <p class="user-text">
                            I love the way it has delivered to me and after using ,i just wanna say one word that is awesome
                        </p>
                    </mat-card-content>
                </mat-card>
                <div class="user-content" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div class="user-thumb">
                        <img src="http://localhost:4200/assets/images/darwin.jpg" alt="user image" height="200" width="200">
                    </div>
                    <div class="user-info">
                        <h6 class="mb-0">Darwin Guailla</h6>
                        <p class="text-md text-muted">Fundador</p>
                    </div>
                </div>
            </div>
        </div>


        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="testimonial-item">
                <mat-card class="testimonial-card">
                    <mat-card-content>
                        <p class="user-text">
                            I love the way it has delivered to me and after using ,i just wanna say one word that is awesome
                        </p>
                    </mat-card-content>
                </mat-card>
                <div class="user-content" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div class="user-thumb">
                        <img src="http://localhost:4200/assets/images/byron.jpg" alt="user image" height="200" width="200">
                    </div>
                    <div class="user-info">
                        <h6 class="mb-0">Byron Rosas</h6>
                        <p class="text-md text-muted">Fundador</p>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="testimonial-item">
                <mat-card class="testimonial-card">
                    <mat-card-content>
                        <p class="user-text">
                            I love the way it has delivered to me and after using ,i just wanna say one word that is awesome
                        </p>
                    </mat-card-content>
                </mat-card>
                <div class="user-content" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div class="user-thumb">
                        <img src="http://localhost:4200/assets/images/liz.jpg" alt="user image" height="200" width="200">
                    </div>
                    <div class="user-info">
                        <h6 class="mb-0">Lizeth Duque</h6>
                        <p class="text-md text-muted">Fundador</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>


    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
        <div class="testimonial-item">
            <mat-card class="testimonial-card">
                <mat-card-content>
                    <p class="user-text">
                        I love the way it has delivered to me and after using ,i just wanna say one word that is awesome
                    </p>
                </mat-card-content>
            </mat-card>
            <div class="user-content" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div class="user-thumb">
                    <img src="http://localhost:4200/assets/images/jael.jpg" alt="user image" height="200" width="200">
                </div>
                <div class="user-info">
                    <h6 class="mb-0">Jael Armas</h6>
                    <p class="text-md text-muted">Fundador</p>
                </div>
            </div>
        </div>
    </div>

    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
        <div class="testimonial-item">
            <mat-card class="testimonial-card">
                <mat-card-content>
                    <p class="user-text">
                        I love the way it has delivered to me and after using ,i just wanna say one word that is awesome
                    </p>
                </mat-card-content>
            </mat-card>
            <div class="user-content" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div class="user-thumb">
                    <img src="http://localhost:4200/assets/images/maricela.jpg" alt="user image" height="200" width="200">
                </div>
                <div class="user-info">
                    <h6 class="mb-0">Maricela Escobar</h6>
                    <p class="text-md text-muted">Fundador</p>
                </div>
            </div>
        </div>
    </div>
</div>