.select-group .mat-form-field {
	width: 110px;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }

  label{
	color: red;
	font-size: 10px;
  }
