<div class="product-detail-page section-gap bg-white" *ngIf="contratistaDatos">
    <div class="container">
        <div fxLayout='row wrap' fxLayoutAlign="center center" class="col-gap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=90 fxFlex.lg="80" fxFlex.xl="90">
                <div fxLayout='row wrap' class="col-gap position-relative">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
                        <div fxLayout='row wrap'>
                            <div fxFlex.xs="85" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85" class="relative" *ngIf="mainImgPath">
                                <img [src]="mainImgPath">

                            </div>

                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
                        <div class="product-detail-content">
                            <a href="javascript:void(0)" [routerLink]="['/']">Inicio</a>
                            <h6>{{contratistaDatos?.contratista?.user?.username}} ha realizado: {{ncontratosDatos?.contratos?.length}} contratos</h6>


                            <div class="product-detail-price">
                                <h4 class="accent-color">{{totalPrice | currency:currency}} </h4>
                            </div>
                            <ul class="no-style mb-4">
                                <li>
                                    <span class="font-medium"> Télefono </span>: {{contratistaDatos?.contratista?.user?.telefono}}
                                    <!-- <span *ngIf="detailData?.availablity">In Stocks</span> -->
                                    <!-- <span *ngIf="!(detailData?.availablity)">Out Of Stocks</span> -->
                                </li>
                                <li>
                                    <span class="font-medium">Correo Electrónico </span>: {{contratistaDatos?.contratista?.user?.email}}
                                </li>
                                <li>
                                    <span class="font-medium">Dirección </span>: {{contratistaDatos?.contratista?.user?.direccion}}

                                </li>
                            </ul>
                            <div class="short-des">
                                <p>{{contratistaDatos?.contratista?.descripcion}}</p>

                            </div>

                            <form class="example-form" [formGroup]="contratoForm">

                                <mat-form-field class="example-full-width">
                                    <textarea matInput #message maxlength="256" placeholder="Descripción de trabajo solicitado" formControlName="descripcion"></textarea>
                                    <mat-hint align="start"><strong></strong> </mat-hint>
                                    <mat-error *ngIf="f.descripcion.touched && f.descripcion.errors?.required">
                                        <strong>La descripción es requerida</strong>
                                    </mat-error>
                                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>

                                </mat-form-field>

                            </form>
                            <div fxLayoutAlign="start center" class="mb-3">
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="accent" selected (click)="reviewPopup(contratistaDatos)">Añadir Ubicación</mat-chip>
                                    </mat-chip-list>
                                    <label *ngIf="ubicacion==undefined">Importante: La ubicación es obligatoria</label>
                                    <!-- <br> <a href="javascript:void(0)" class="text-underline" (click)="reviewPopup(contratistaDatos)">Añadir Ubicación...</a> -->
                                </div>
                            </div>
                            <!-- <div class="px-3">
                <p>Seleccione imagen del daño</p>
                  <input type="file" name="avatar" (change)="cargandoImagen($event)" accept="image/*">
                  <a class="btn btn-dark rounded-btn" [routerLink]="" (click)="fileInput.click()">Cambiar Imagen</a>
              </div> -->
                            <div class="bullets-points">
                                <br><span class="font-medium">Realizo trabajos en el área de: </span>
                                <ul class="bullets-list">
                                    <li *ngFor="let trabajo of contratistaDatos.tiposTrabajo">
                                        <!-- <a [routerLink]="['/products', 'accessories',contratista.contratista.id,trabajo.id]">{{trabajo.nombre}}</a>  -->
                                        {{trabajo.nombre}}
                                    </li>
                                </ul>
                            </div><br>

                            <div class="mb-5 detail-btns">
                                <button mat-raised-button color="accent" class="button-lg mr-3" [routerLink]="['/lista-contratistas']">Cancelar</button>
                                <button class="button-lg" mat-raised-button (click)="onSumit()" [disabled]="ubicacion==undefined" [routerLink]="['/account/order-history']">Enviar Solicitud</button>
                            </div>


                            <!-- <div fxLayoutAlign="start center">
                <div class="mr-3"> <span>Share Now</span></div>
                <div class="detail-product-share">
                  <embryo-SocialShare></embryo-SocialShare>
                </div>
              </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>