<!-- <ng-container *ngIf="singleProductData">
  <embryo-PageTitle heading="{{singleProductData.name}}"></embryo-PageTitle>
  <div class="inner-container">
    <div class="product-detail-page">
      <embryo-ShopDetails [currency]="embryoService?.currency" [detailData]="singleProductData" [contratista]="contratista"></embryo-ShopDetails>
      <div class="bg-grey section-gap" *ngIf="productsList && productsList.length>0">
        <div class="container">
          <div class="block-title text-center gap">
            <h2>Más contratistas...</h2>
          </div>
          <embryo-ProductGrid [currency]="embryoService?.currency" [products]="productsList" gridLength="4" (addToCart)="addToCart($event)" (addToWishList)="addToWishList($event)"></embryo-ProductGrid>
          <div class="text-center mt-4">
            <button mat-raised-button [routerLink]="['/products', type]">Show All</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<ng-container *ngIf="contratista">
  <embryo-PageTitle heading="{{contratista?.contratista?.tipotrabajos[0]?.nombre}}"></embryo-PageTitle>
  <div class="inner-container">
    <div class="product-detail-page">
      <embryo-ShopDetails [currency]="embryoService?.currency" [detailData]="singleProductData" [contratista]="contratista"></embryo-ShopDetails>
      <div class="bg-grey section-gap" *ngIf="productsList && productsList.length>0">
        <div class="container">
          <div class="block-title text-center gap">
            <h2>Más trabajadores de {{contratista?.contratista?.tipotrabajos[0]?.nombre}}...</h2>
          </div>
          <embryo-ProductSuggestedGrid [currency]="embryoService?.currency" [products]="productsList" [trabajos]="trabajos" gridLength="4" (addToCart)="addToCart($event)" (addToWishList)="addToWishList($event)"></embryo-ProductSuggestedGrid>
          <div class="text-center mt-4">
            <button mat-raised-button [routerLink]="['/products', type]">Mostrar todos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
