<ng-container *ngIf="contratista">
  <embryo-PageTitle heading="{{contratista?.contratista?.user?.name}}"></embryo-PageTitle>
  <div class="inner-container">
    <div class="product-detail-page">
      <embryo-ShopDetails [currency]="embryoService?.currency" [detailData]="singleProductData" [contratista]="contratista" [ncontratos]="ncontratos"></embryo-ShopDetails>
      <div class="bg-grey section-gap">
        <div class="container">
          <div class="block-title text-center gap">
            <h2 *ngIf="tipotrabajo_id">Más trabajadores de {{contratista?.contratista?.tipotrabajos[0]?.nombre}}...</h2>
            <h2 *ngIf="!tipotrabajo_id">Más trabajadores...</h2>
          </div>
          <embryo-ProductSuggestedGrid [currency]="embryoService?.currency" [products]="productsList" [trabajos]="trabajos" gridLength="4" (addToCart)="addToCart($event)" (addToWishList)="addToWishList($event)"></embryo-ProductSuggestedGrid>
          <div class="text-center mt-4">
            <button mat-raised-button [routerLink]="['/lista-contratistas']">Mostrar todos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
