<button mat-mini-fab class="log-in-user" [matMenuTriggerFor]="loginuser">
  <img src="assets/images/log-in-user.jpg" width="250" height="250" alt="log-in-user">
</button>
<mat-menu #loginuser="matMenu">
    <button mat-menu-item fxLayoutAlign="start center" [routerLink]="['/account/profile']"><i class="material-icons mr-1">account_circle</i> <span>Perfil</span>
  </button>

    <button mat-menu-item (click)="salirUsuario()"><i class="material-icons mr-1">power_settings_new</i><span>Salir</span></button>
</mat-menu>