<mat-card>
    <h4> Editar informacion</h4>
    <div fxLayout="row wrap" class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" enctype="multipart/form-data">
                <div class="example-container">

                    <div class="proflie-field mb-3">
                        <label>Nombre:</label>
                        <input [ngModel]="usuarioCompleto.name" name="name" />
                        <mat-error *ngIf="info.get('name').hasError('required') && info.get('name').touched">Este campo no puede estar vacio.</mat-error>
                    </div>

                    <div class="proflie-field mb-3">
                        <label>Username:</label>
                        <input [ngModel]="usuarioCompleto.username" name="username">
                        <mat-error *ngIf="info.get('username').hasError('required') && info.get('username').touched">Este campo no puede estar vacio.</mat-error>
                    </div>
                    <div class="proflie-field mb-3">
                        <label>E-mail:</label>
                        <input [ngModel]="usuarioCompleto.email" name="email">
                        <mat-error *ngIf="info.get('email').hasError('required') && info.get('email').touched">Este campo no puede estar vacio.</mat-error>
                    </div>
                    <div class="proflie-field mb-3">
                        <label>Numero telefono:</label>
                        <input [ngModel]="usuarioCompleto.telefono" name="telefono">
                    </div>
                    <div class="proflie-field mb-3">
                        <label>Direccion:</label>
                        <input [ngModel]="usuarioCompleto.direccion" name="direccion">
                    </div>
                    <div class="proflie-field mb-3">
                        <label>Locacion:</label>
                        <input [ngModel]="usuarioCompleto.ubicacion" name="ubicacion">
                    </div>
                    <div class="proflie-field mb-3">
                        <label>Role:</label>
                        <input [ngModel]="usuarioCompleto.role_id" name="role_id">
                    </div>


                    <button type="submit" mat-raised-button color="accent">Guardar</button>

                </div>
            </form>
        </div>
        {{localUrl}}
        <img fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="edit-profile"
            style="background-image: url(assets/images/user-edit.png)" [src]="environmentThis.urlImg+usuarioCompleto.avatar" *ngIf="usuarioCompleto.avatar">
    </div>
    <div class="px-3">
        <!--input de tipo file y a este vamos a agregarle una accion de change para que detecte si hay algun cambio internamente-->
        <!--input accept, accept acepta varios valores -->
        <input type="file" name="avatar" (change)="cargandoImagen($event)" accept="image/*" >   
           <!-- <input type="file" name="file" (change)="subiendoando($event)" accept="image/*" />  --> -->
        <!-- <input #fileInput style="display: none" name="avatar" (change)="showPreviewImage($event)" type="file" id="file"
            accept="imagen/*"> -->
        
            <!-- <input #fileInput style="display: none" name="file" (change)="onFileChange($event)" type="file" id="file"
            accept="imagen/*"> -->
            
        <a class="btn btn-dark rounded-btn" [routerLink]="" (click)="fileInput.click()">Cambiar Imagen</a>
    </div>

</mat-card>