<mat-card>
    <h4>Información del usuario</h4>
    <div class="pt-3">

        <div class="proflie-field mb-3">
            <label>Nombre:</label>
            <input [ngModel]="usuarioCompleto.name" name="name" disabled/>
        </div>

        <div class="proflie-field mb-3">
            <label>Username:</label>
            <input [ngModel]="usuarioCompleto.username" name="username" disabled>
        </div>
        <div class="proflie-field mb-3">
            <label>E-mail:</label>
            <input [ngModel]="usuarioCompleto.email" name="email" disabled>
        </div>
        <div class="proflie-field mb-3">
            <label>Numero telefono:</label>
            <input [ngModel]="usuarioCompleto.telefono" name="telefono" disabled>
        </div>
        <div class="proflie-field mb-3">
            <label>Direccion:</label>
            <input [ngModel]="usuarioCompleto.direccion" name="direccion" disabled>
        </div>
        <div class="proflie-field mb-3">
            <label>Locacion:</label>
            <input [ngModel]="usuarioCompleto.ubicacion" name="ubicacion" disabled>
        </div>
        <div class="proflie-field mb-3">
            <label>Role:</label>
            <input [ngModel]="usuarioCompleto.role_id" name="role_id" disabled>
        </div>
    

        <button mat-raised-button color="accent" [routerLink]="['edit']">Edit</button>
        <button mat-raised-button color="warnig" (click)="openDialog()">Eliminar</button>


    </div>
</mat-card>