<mat-card>
    <h4>Módulo ser contratista</h4>
    <!--Step material-->
    <!--Este es un wizard de material angular-->
    <mat-horizontal-stepper linear #stepper>

        <mat-step [stepControl]="contratistaForm">
            <form ngNativeValidate [formGroup]="contratistaForm">
                <br>
                <br>
                <!--INICIO DE PLAN -->
                <label id="example-radio-group-label">Elija el plan</label>
                <br>
                <br>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="plan_id">
                    <mat-radio-button class="example-radio-button" *ngFor="let plan of arrayPlanes" [value]="plan.id">
                        {{plan?.titulo}}
                    </mat-radio-button>
                    <mat-error *ngIf="f.plan_id.errors?.required && f.plan_id.touched">
                        <strong>EL plan es requerido</strong>
                    </mat-error>
                </mat-radio-group>
                <!--FIN DE PLAN -->
                <br>
                <br>

                <mat-form-field>
                    <textarea matInput placeholder="Descripcion" formControlName="descripcion" name="descripcion"></textarea>
                    <mat-error *ngIf="f.descripcion.errors?.maxlength">
                        <strong>Máximo 255 caracteres</strong>
                    </mat-error>
                </mat-form-field>


                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup">
            <form ngNativeValidate>

                <ng-template matStepLabel>Áreas</ng-template>

                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let trabajo of trabajosSelecionados;let i=index; " [selectable]="selectable" (removed)="remove(i)" [removable]="removable">
                            {{trabajo.nombre}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                        <input type="text" placeholder="Elija un trabajo" aria-label="Number" matInput [formControl]="trabajoControl" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let option of trabajosFiltrados | async" [value]="option">
                                {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>                    
                </mat-form-field>
                <br>
                <div>
                    <button mat-button matStepperPrevious>Atrás</button>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel>Finaliza</ng-template>
            Muchas gracias estas por finalizar el proceso.
            <div>
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-button (click)="guardarContratista()">Enviar Solicitud </button>
                <button mat-button (click)="stepper.reset()">Iniciar otra vez</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</mat-card>