<!--slider -->
<embryo-HomePageTwoSlider [isRTL]="embryoService.isDirectionRtl">

</embryo-HomePageTwoSlider>

<!-- ANUNCIOS -->
<br>
<div class="shop-card-wrapper section-gap pt-0 pb-5 grid-card-wrapper tab-sldier-v2">
    <div class="block-title text-center">
        <h2>TOP CONTRATISTAS</h2>

    </div>
    <mat-toolbar style="height:270px;background-color:rgb(12, 25, 41)" class="section-title-toolbar grid-toolbar">
        <mat-toolbar-row>
            <div class="container">
                <div class="w-100 mb-3">
                    <div class="block-title mb-2">
                        <h2 class="text-inverse mb-0 text-xxl font-light">DESTACADO
                            <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        </h2>
                    </div>
                </div>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="container">
        <ng-container>
            <ng-container>
                <ngx-slick-carousel class="carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let anuncio of anuncios; let i=index">
                        <embryo-ProductCard1 [anuncio]="anuncio" [index]="i"></embryo-ProductCard1>
                    </div>
                </ngx-slick-carousel>

            </ng-container>
        </ng-container>
    </div>
</div>

<!--SERVICIOS -->
<div class="feature-section">
    <div class="container">
        <embryo-Features></embryo-Features>
    </div>
</div>
<div class="shop-card-wrapper section-gap" *ngIf="productsArray">
    <div class="block-title text-center">
        <h2>SERVICIOS</h2>
    </div>
    <div class="container">



        <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Tipos de trabajos" disabled> </mat-tab>
            <mat-tab *ngFor="let tipo of tipos; let index = index" [label]="tipo.nombre" id="tipo.id" selected></mat-tab>
        </mat-tab-group>



        <ng-container>
            <ngx-slick-carousel class="carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let product of contratistas?.contratistas; let i=index">
                    <embryo-ProductCard [product]="product" [index]="i"></embryo-ProductCard>
                </div>
            </ngx-slick-carousel>

        </ng-container>
    </div>
</div>

<div class="quick-shop">
    <embryo-Sales></embryo-Sales>
</div>

<div class="testimonial-wrapper" *ngIf="productReviews && productReviews.length>0">
    <div class="block-title text-center">
        <br>
        <br>
        <h2>Nosotros </h2>
    </div>
    <div class="container">
        <embryo-Review [reviews]="productReviews"></embryo-Review>
    </div>
</div>


<div class="shop-card-wrapper section-gap ">
    <div class="block-title text-center">
        <h2>Nuestros socios</h2>
    </div>
    <div class="container">
        <embryo-BrandsLogo></embryo-BrandsLogo>
    </div>
</div>