<!--slider -->
<embryo-HomePageTwoSlider [isRTL]="embryoService.isDirectionRtl">

</embryo-HomePageTwoSlider>
<!--
<div class="home-main-banner mb-5">
    <div class="container">
        <div fxLayout='row wrap' fxLayoutGap="0px">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="63" fxFlex.xl="63">
                <div class="home-slider">
                    <embryo-HomePageOneSlider></embryo-HomePageOneSlider>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="37" fxFlex.xl="37">
                <div class="aside-banner">
                    <a [routerLink]="['/products/accessories']" class="card-shadow"> <img src="assets/images/aside-1.jpg" alt="side" width="547" height="315"></a>
                </div>

                <div class="aside-banner">
                    <a [routerLink]="['/products/accessories']" class="card-shadow"><img src="assets/images/aside-2.jpg" alt="side" width="547" height="315"></a>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<div class="feature-section">
    <div class="container">
        <embryo-Features></embryo-Features>
    </div>
</div>
<div class="shop-card-wrapper section-gap" *ngIf="productsArray">
    <div class="block-title text-center">
        <h2>SERVICIOS</h2>
    </div>
    <div class="container">



        <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Tipos de trabajos" disabled> </mat-tab>
            <mat-tab *ngFor="let tipo of tipos; let index = index" [label]="tipo.nombre" id="tipo.id" selected></mat-tab>
        </mat-tab-group>



        <ng-container>
            <ngx-slick-carousel class="carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let product of contratistas?.contratistas; let i=index">
                    <embryo-ProductCard [product]="product" [index]="i"></embryo-ProductCard>
                </div>
            </ngx-slick-carousel>

        </ng-container>
    </div>
</div>

<div class="quick-shop">
    <embryo-Sales></embryo-Sales>
</div>

<div class="testimonial-wrapper" *ngIf="productReviews && productReviews.length>0">
    <div class="block-title text-center">
        <br>
        <br>
        <h2>Nosotros </h2>
    </div>
    <div class="container">
        <embryo-Review [reviews]="productReviews"></embryo-Review>
    </div>
</div>


<div class="shop-card-wrapper section-gap ">
    <div class="block-title text-center">
        <h2>Nuestros socios</h2>
    </div>
    <div class="container">
        <embryo-BrandsLogo></embryo-BrandsLogo>
    </div>
</div>