<ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div ngxSlickItem>
        <div class="bannerStyle slider-img-3">
            <div class="ngx-slider-content">
                <div class="ngx-slider-inner">
                    <h2>Servicio</h2>
                    <h1>Limpieza</h1>
                    <button color="accent" mat-raised-button [routerLink]="['/products/men']">Ver mas trabajos de Limpieza</button>
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem>
        <div class="bannerStyle slider-img-4">
            <div class="ngx-slider-content">
                <div class="ngx-slider-inner">
                    <h2>Servicio</h2>
                    <h1>Electrico</h1>
                    <button color="accent" mat-raised-button [routerLink]="['/products/men']">Ver mas trabajos de Electrico</button>
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem>
        <div class="bannerStyle slider-img-1">
            <div class="ngx-slider-content">
                <div class="ngx-slider-inner">
                    <h2>Servicio</h2>
                    <h1>Plomeria</h1>
                    <br>
                    <button color="accent" mat-raised-button [routerLink]="['/products/women']">Ver mas trabajos de Plomeria</button>
                </div>
            </div>
        </div>
    </div>




</ngx-slick-carousel>