<ngx-slick-carousel class="carousel" [config]="slideConfig">
   <div ngxSlickItem>
      <div class="bannerStyle slider-img-1">
         <div class="ngx-slider-content">
            <div class="ngx-slider-inner">
               <h2></h2>
               <h1></h1>
               <br>
               <button color="accent" mat-raised-button [routerLink]="['/products/women']">Electricidad</button>
            </div>
         </div>
      </div>
   </div>
   <div ngxSlickItem>
      <div class="bannerStyle slider-img-2">
         <div class="ngx-slider-content">
            <div class="ngx-slider-inner">
               <h2>Carpinteria</h2>
               <h1></h1>
               <button color="accent" mat-raised-button [routerLink]="['/products/men']">Carpinteria</button>
            </div>
         </div>
      </div>
   </div>
   <div ngxSlickItem>
      <div class="bannerStyle slider-img-3">
         <div class="ngx-slider-content">
            <div class="ngx-slider-inner">
               <h2>¿Necesitas un servicio de limpieza?</h2>
               <h1></h1>
               <button color="accent" mat-raised-button [routerLink]="['/products/men']">Limpieza</button>
            </div>
         </div>
     </div>
   </div>
</ngx-slick-carousel>
